<!DOCTYPE html>
<html>
  <head>
    <title>Rate Your Apartments</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="container">
        <header>
          <h1>Rate My Apartment NYC</h1>
          <h3>Find the apartments that REALLY fit your needs</h3>
          <div class="nav-bar">
            <nav>
              <a href="{{ url_for('home')}}">Home</a>
            </nav>
            <nav>
              <a href="{{ url_for('apartments')}}">Apartments</a>
            </nav>
            <nav>
              <a href="{{ url_for('account')}}">Account</a>
            </nav>
          </div>
          <div class="nav-bar">
            <form method="POST" action="{{ url_for('read_filterby')}}">
              Borough:
              <textarea type="text" id="fborough" name="fborough"></textarea>
              Price:
              <textarea type="text" id="folder" name="folder"></textarea>
            <input type="submit" name="search-btn" value="Search" /></form>
          </div>
      </header>
        
      <main>
        <div class="div">
          {% block container %} {% endblock %}
        </div>
      </main>

    </div>
  </body>
</html>
