{% extends 'base.html' %} {% block container %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
    <title>Register</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"/>
  
	</head>
<body>
    <form class="box" action="{{ url_for('login_submit') }}" method="POST">
        <h1>Login</h1>
        <input type="text" name = "username" placeholder="username" required/> </br>
        <input type="password" name = "password" placeholder="password" required/></br>
        <input type="submit" name="login" value = "Login" />
        <hr color=#608696  style="width: 90%"/>
        <h3>First time user?</h3>
        <a id="go-back" href="{{ url_for('register')}}"> Register</a>
        {% if error %}
        <div class="error">
          <p>{{ error }}</p>
        </div>
        {% endif %}
    </form>

</body>

</html>


{% endblock %}
